__pycache__/
*.pyc
training/quad4/arch_sweep/
training/quad4/arch_sweep_nl_K/
training/quad4/arch_sweep_nl_W/
training/quad4/*.log
# regenerierbar via generate_newton_trajectories.m
training/quad4/newton_traj_states.mat
# Datensatz-Cache des Trainings (regenerierbar, gross)
training/quad4/dataset_cache_*.npz
